<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>O8A serverrr</title>
</head>
<body>
    <h1>Heyy, write your ans in here</h1>
    <form action="action_page.php" method="post">
        <!--Player1-->
        <div>
        <label for="1">Player 1:</label>
        <input type="text" name="1" id="1" placeholder="answer" required>
        <input type="Submit">
        </div>
        <!--Player2-->
        <div>
            <label for="2">Player 2:</label>
            <input type="text" name="2" id="2" placeholder="answer" required>
            <input type="Submit">
        </div>
    </form>
</body>
</html>